@tailwind base;
@tailwind components;
@tailwind utilities;

.frosted-glass {
    backdrop-filter: blur(12px);
}
.frosted-glass-light {
    backdrop-filter: blur(3px);
}

.cursor-glass {
    backdrop-filter: blur(5px) saturate(20%) invert(70%);
}
.dynav-glass {
    backdrop-filter: blur(5px);
}

.white-radial-gradient {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
}